@font-face { 
    font-family: PlusJakartaSans-Regular;   
    src: url('../app//fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}
  @font-face { 
    font-family: PlusJakartaSans-Bold; 
    src: url('../app//fonts/PlusJakartaSans-Bold.ttf') format('truetype');   
}

body{
    font-family: PlusJakartaSans-Regular;   
}
p{
    font-family: PlusJakartaSans-Regular;   
}
p{
    font-size: 14px;
}
.links-box ul{
    padding-left: 0px;
}
.homes-slider-main{
    background: transparent linear-gradient(175deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    padding-top: 140px;
}
.header-row-cent{
    align-items: center;
}
.Request-a-Demo{
    width: auto !important; 
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 14px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
   }
.header {
 position: absolute;
 width: 100%;
 left: 0px;
}
.nav_col{
    justify-content: end;
  }
  header .nav{    
    justify-content: end;
      display: flex;
      width: 100%;
  }
.nav-link {
  color: white !important;
  text-decoration: none;
  font-size:14px;
  background: black;
  border: 1px solid #333399;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 0px 10px;
}
.navbar-nav li a{
    border: 1px solid #333399;
    font-size: 14px;
    padding: 6px 68px;
    /* width: 100px; */
    text-align: center;
}
.nav {
  justify-content: center;
  align-items: center;
}
.login-link {
  color: #3399ff !important;
  text-decoration: none;
  font-size:14px;
  margin: 0px 10px;
  padding: 10px;
}
.request_btn {
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 14px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    width: 110px !important;
}
.nav_col {
  display: flex;
  /*justify-content: end;*/
}
.nav_col2 {
  display: flex;
  align-items: center;
}
.ma-slider-new-frame-inner-two-right h2{
color: #fff;
font-weight: 400;
font-size: 48px;
}
.ma-slider-new-frame-inner-two-right h2 span{
  color: #3399ff;  
}
.ma-slider-new-frame-inner-two-right p{
    color: #fff;
    margin-top: 30px;
    padding-left: 100px;
    width: 70%;
}
.ma-slider-new-frame-inner-two-right p a{  
    width: auto !important;
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 14px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    text-decoration:none;   
}
.explore_sec {
  background: black;
  padding: 30px 0px;
  padding-top: 70px;
}
.explore_heading {
  color: white;
  font-weight: 400;
}
.ai_text{ 
    color: #3399ff;
}
.explore_content{
    color: white;
    font-size: 14px;
    padding-left: 80px;
    width: 90%;
}

.explore_second_col{
    align-items: end;
    display: flex;
}
.digital_sec{
    background-color: black;
    padding: 30px 0px;
}
.digital_heading {
    color: #3399ff;
    font-weight: 400;
    margin-bottom: 150px;
    margin-left: 70px;
}
.blue_box{
    background: #33339933;
    padding: 30px;
    border: 1px solid #3399ff;
    border-radius: 10px;
}
.work_heading{
    font-size: 18px;
    color: #3399ff;
    font-weight: 400;
    /* text-align: center; */
}
.work_content{
    color: white;
    font-size:14px;
}
.work_text_col{
    padding: 0px 54px;
}
.blue_box_row{
    margin-top: -160px !important;
}
.learn_more_btn {
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box; border: 0px;
    border-radius: 14px;
    color: white;
    font-size: 14px;
    padding: 10px 20px; 
    margin-top: 15px;
} 
.digital_partner_row_1{
    margin-top: 30px !important;    
}
.Meet-Your-AI-Powered iframe{
    border: 2px solid #3399FF;
    border-radius: 10px;
    width: 90%;
}
.button_col{
    display:flex;
    justify-content: center;
}
.digital_partner_sec{
    padding: 60px 0px;
    background: transparent linear-gradient(175deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.ai_powered_headeing{
    color: white;
    font-weight: 400;
}
.ai_powered_headeing2{
    color: #3399FF;
    font-weight: 400;
    margin-bottom: 20px;
}
.ai_powered_text{
    color:white;
    font-size:14px
}
.digital_partner_col_2{
    display:flex;
    align-items: center;
}
.digital_human_sec{
    padding: 60px 0px;
    background: transparent linear-gradient(175deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;

}
.try_box {
    position: relative;
}

.Try-Our-Digital-Humans-main-section{
    margin-top: 80px;
    margin-bottom: 40px;
}
.digital_partner_row_1{
    margin-bottom: 50px;
}
.try_box h4{
    color: #3399FF;
    font-weight:400;
    margin-bottom: 15px;
}
.try_box p{
    color: white;
    font-size:14px;
    margin-bottom: 20px;
}
.humax_box {
    padding: 20px;
    border: 1px solid #3399ff;
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 50px #3399FF66;
    border: 1px solid #3399FF;
    border-radius: 17px;
    padding-bottom: 0px;
}
.human_slider_box{
    padding-left: 40px;
}
.human_name {
    color: white;
    text-align: center;
    font-size: 14px;
}
.why_sec {
    padding: 80px 0px;
    background-image: url(../app/img/AI-Banner.png);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.why_choose_head{
    color: #3399ff;
    font-weight: 300;
    font-size: 43px;
}
.why_choose_head2{
    color: white;
    font-weight: 300;
    font-size: 43px;
}
.sleep_sec{
    color: #3399ff;
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
}
.why_choose_content_box{
    padding: 20px 40px;
}
.Customizable-to-Your-Needs-main-frame{
    margin-top: 35px;
}
.sleep_paragraph{
    color: #E3E1EB;
    font-size:14px;
    margin-top: 30px;
}
.needs_heading {
    color: white;
    font-size: 18px;
}
.humax_box img{
    width: 100% !important;
    height: auto !important;
}
.needs_heading2 {
    color: white;
    font-size: 18px;
    position:relative;
}
.needs_heading2::after {
    content: "";
    display: block;
    width: 41%;
    height: 6px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.need_para{
    color: white;
    font-size:14px;
}
.footer{
    padding: 60px 0px;
    background: black;
    padding-bottom: 30px;
}
.footer_logo{
    margin-bottom: 40px;
}
.footer_input{
    width: 100%;
    border-radius: 50px;
    background: #3333994D;
    border: 1px solid #3399FF;
    padding: 5px 16px;
    color: white;
}
.footer_logo{
    margin-bottom: 60px;
}
.links-box{
    padding-left: 251px;
}
.quick_head{
    color: #3399ff;
    font-weight: 200;
    margin-bottom:14px;
    font-size: 18px;
}
.touch_box ul{
    padding-left: 0px;
    margin-top: 15px !important;
}
.social_link img{
    width: 28px; 
}
ul{
    list-style-type: none;
    padding: 0;
}
.foot-links{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.foot-item{
    padding: 7px 0px;
}
.touch_text{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}
.touch_box{
    margin-top: 60px;
}
.social_link{
    margin-right:15px;
}
.copyright {
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
}
.atnam{
    color: #3399ff;
}






/* CSS 3 MArch 2025 */
.header{
    padding: 10px !important;
}
.header-inner{
    background: #00000000;
    padding: 0px;
    position: absolute;
    width: 100%;
}
.header-inner .header {
    background: transparent;
}
.three_about_sec{
    padding: 90px 0px;
    background-image: url('../app/img/shutterstock_1283026954-[Converted].png');
    background-size: 100% 100%;
    padding-top: 180px;
}
.pioneeringbox{
    margin-top: 20%;
}
.three_abot_atman_box h1 {
    color: white;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
}
.three_abot_atman_box h3 {
    color: #3399FF;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}
.three_abot_atman_box p{
    color: white;
    font-size: 14px;
    padding-right: 55px;
}
.what_set_atman_sec{
    padding:80px 0px;
    background: transparent linear-gradient(168deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    position: relative;
}
.what_set_box h1{
    color: white;
    font-size: 48px;
    font-weight: 400;
}
.what_set_box span{
    color:#3399FF;
}
.atman_digital_para_box p{
    color: white;
    font-size: 14px;
}
.atman_digital_para_row{
    display: flex;
    align-items: end;
}
.what_atmansets_row{
    margin-bottom: 30px;
}
.pioneeringbox h3 {
    color: white;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pioneeringbox span {
    color: #3399FF;
}
.pioneeringbox p {
    color: white;
    font-size: 13px;
    padding-right: 70px;
}
.what_set_atman_sec::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 2%;
    height: 80%;
    background: #333399 0% 0% no-repeat padding-box;
    opacity: 0.56;
    filter: blur(50px);
}

.what_set_atman_sec::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 2%;
    height: 80%;
    background: #333399 0% 0% no-repeat padding-box;
    opacity: 0.76;
    filter: blur(50px);
}
.three_carrer_sec{
    padding: 60px 0px;
    background-image: url('../app/img/Group-43.png');
    background-size: 100% 100%; 
}
.carrer_head_box h3 {
    color: white;
    font-weight: 300;
    margin-bottom:25px
}
.join_the_future_box h1 {
    color: white;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 35px;
}
.join_para_box {
    padding-left: 30px;
    padding-right: 32px;
}
.join_para_box p{
 color: white;
 font-size: 14px;
 margin-bottom: 30px;
}

.request_btn2 {
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    font-size:13px;
    background: radial-gradient(closest-side at 50% 2%, #3399ff 0%, #333399 100%);
  }
.join_the_future_box span{
    color: #3399FF;
}
.carrer_accelerated_box{
    padding: 15px 20px;
}
.carrer_accelerated_box h6 {
    color: white;
    font-weight: 600;
    padding-bottom: 40px;
    position: relative;
}
.carrer_accelerated_box h6::before {
    content: "";
    position: absolute;
    display: block;
    width: 35%;
    height: 6px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    bottom: 0px;
}
.carrer_accelerated_box p{
    color: white;
    font-size: 14px;
}
.what_can_atman_sec{
    padding:80px 0px;
    /* position: relative; */
    padding-top: 120px;
    background: transparent linear-gradient(178deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.what_can_atman_box h1{
    color: white;
    font-size: 48px;
    font-weight: 400;
}
.what_train_img_box img{
    width: 80%;
    height: auto;
}
.mission_img_box img{
    height: auto;
    width: 90%;   
}
.what_can_atman_box span{
    color: #3399FF;
}
.what_can_atman_para p{
    color: white;
    font-size: 14px;
}
.what_can_atman_para_col{
    display: flex;
    align-items: end;
}
.what_can_atman_row{
    margin-bottom: 40px;
}
.hyper_personalized_box h1 {
    color: white;
    font-weight: 400;
    font-size: 33px;
    margin-bottom: 30px;
}
.hyper_personalized_box p {
    color: white;
    font-size: 14px;
    padding-right: 80px;
}
.hyper_personalized_box_row{
    display: flex;
    align-items: center;
}
.trainning_digital_human_meet_sec {
    padding: 60px 0px;
    background-image: url('../app/img/Group-43.png');
    background-size: 118% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
}
.train_digital_human_boxx h1 {
    font-weight: 400;
    font-size: 57px;
    color: white;
    margin-bottom: 35px;
    line-height: 1.3;
    padding-top: 50px;
}
.train_digital_human_boxx span{
    color: #3399FF;
}
.train_digital_human_boxx p {
    padding-left: 40px;
    color: white;
}
.what_you_can_train_sec{
    padding: 60px 0px;
    background: transparent linear-gradient(91deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
}
.what_you_train_box h1 {
    color: white;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 90px;
}
.what_you_train_box span{
    color: #3399FF;
}
.what_you_train_box p {
    color: white;
}
.adapt_operation_box{
    padding: 20px;
    padding-top: 0px;
}
.adapt_operation_box h6{
    color: white;
    padding-bottom: 20px;
    position: relative;
}

.adapt_operation_box h6::after {
    content: "";
    position: absolute;
    display: block;
    width: 25%;
    height: 6px;
    background: #3399FF;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    top: 55%;
}
.adapt_operation_box p {
    color: white;
    padding: 20px 0px;
}
.how_it_works_gour_sec{
    padding: 80px 0px;
    background: transparent linear-gradient(166deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.how_it_four_work_box h1 {
    color: white;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.w-100{
    height: auto;
}
.work_box img{
    height: auto;
}
.how_it_four_work_box span{
    color: #3399FF;
}
.atman_four_step_box{
    color: white;
    padding: 0px 20px;
}
.atman_four_step_box h2{
    color: #3399FF;
    margin-bottom: 20px;
    font-weight: 300;
}
.atman_four_step_box h6 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 14px;
}
.atman_four_step_row{
    display: flex;
    justify-content: space-between;
}
.atman_four_why_train_sec{
    padding: 60px 0px;
    background-image: url('../app/img/Group-41.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.atman_four_why_train_box h1 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 60px;
}
.atman_four_why_train_box span{
    color: #3399FF;
}
.personalised_performance_box{
    color: white;
    position: relative;
    padding-left: 20px;
}
.personalised_performance_box::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: transparent linear-gradient(180deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    left: 0%;
    top: 5px;
}
.personalised_performance_box::after {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #3399FF;
    opacity: 1;
    left: -6px;
    top: -1px;
}
.personalised_performance_box h6{
    margin-bottom: 20px;
}
.personalised_performance_box p{
    color: #E3E1EB;
}
.personalised_performance_box_margin{
    margin-top: 35px;
}
.train_perform_sec{
    padding: 60px 0px;
    padding-bottom: 100px;
    background-image: url('../app/img/Group-42.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.train_todaY_tomorrow_box{
    text-align: center;
}
.train_todaY_tomorrow_box h1 {
    color: white;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.train_todaY_tomorrow_box p{
    text-align: center;
    color: white;
    margin-bottom: 60px;
}
.atman_five_company_sec{
    padding: 80px 0px;
    background: transparent linear-gradient(174deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.atman_five_comany_box{
    color: white;
}
.atman_five_comany_box h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
}
.atman_five_comany_col{
    display: flex;
    align-items: center;
}
.company_row{
    margin-bottom: 50px;
}
.meent_minds_box_atmna h1{
    color: white;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 40px;
}
.meent_minds_box_atmna span{
    color: #3399FF;
}
.atman_founder_box img{
    width: 330px;
    margin-bottom: 25px;
    height: auto;
}
.atman_founder_box h3{
    color: white;
    margin-bottom: 30px;
}
.flexiblr_plan_box{
    margin-top: 10%; 
}
.atman_six_scaleble_solution_box-main{
    margin-top: 40px !important;
}
.atman_founder_box{
    color: white;
    width: 85%;
}
.atman_five_mission_vision_sec{
    padding: 90px 0px;
    background: transparent linear-gradient(166deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.amtan_five_misson_box{
    padding: 60px 30px;
    background: #333399;
    border-radius: 20px;
    border: 1px solid #3399FF;
    box-shadow: 0px 15px 35px #3399FF59;
    height: 100%;
}
.mission_text_box h3{
    color: white;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 30px;
}
.mission_text_box{
    color: white;
}
.mission_img_box{
    padding: 0px 8px;
}
.what_set_atman_aprt_sec{
    padding: 80px 0px;
    background-image: url('../app/img/man-holds-chart-growth.png');
    background-repeat: no-repeat;
    background-size: 100% 103%;
    color: white;
}
.what_set_atman_aprt_box h1{
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 40px;
}
.what_set_atman_aprt_box span{
    color: #3399FF;
}
.what_set_atman_aprt_box p {
    padding-left: 30px;
}
.bcs_solution_row{
    padding-left: 30px;
    margin-top: 50px  !important;
}
.Business_Centric_Solutions_box{
    padding-right: 30px;
}
.Business_Centric_Solutions_box h6 {
    position: relative;
    padding-bottom: 30px;
}
.Business_Centric_Solutions_box h6::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 6px;
    background: #3399FF;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    top: 37%;
}
.atman_five_join_box{
    margin-top: 25px;
    margin-bottom: 25px;
}
.atman_six_flexible_plan_sec{
    padding: 60px 0px;
    padding-top: 120px;
background: transparent linear-gradient(173deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.flexiblr_plan_box h1{
    font-size: 55px;
    color: white;
    font-weight: 400;
    margin-bottom: 40px;
}
.flexiblr_plan_box span{
    color: #3399FF;
}
.flexiblr_plan_box p{
    color: white;
    padding-left: 40px;
}
.atman_six_dlexible_row{
    margin-bottom: 50px;
    margin-top: 50px !important;
}
.atman_six_monthly_biling_box-main-all{

}
.atman_six_whatYou_box h1{
    font-size: 50px;
    color: white;
    font-weight: 400;
    margin-bottom: 40px;
}
.atman_six_whatYou_box span{
    color: #3399FF;
}
.atman_six_scaleble_solution_box img{
    width: 35%;
    margin-bottom: 25px;
    height: auto;
}
.atman_six_scaleble_solution_box{
    padding: 20px;
}
.atman_six_scaleble_solution_box h6{
    color: white;
    font-weight: 600;
    position: relative;
    margin-bottom: 40px;
}
.atman_six_scaleble_solution_box h6::after {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 6px;
    background: #3399FF;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    top: 100%;
}
.atman_six_scaleble_solution_box p {
    color: white;
}
.atman_six_how_it_work_sec{
    padding: 70px 0px;
    background: transparent linear-gradient(166deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 100px;
}
.atman_six_how_it_work_box h1{
color: white;
font-size: 50px;
font-weight: 400;
margin-bottom: 40px;
}
.atman_six_how_it_work_box span{
    color: #3399FF;
}
.atman_six_basic_plan_box ul{
    padding-left: 0px !important;
}
.atman_six_monthly_biling_box{
    padding: 25px;
    background: var(--unnamed-color-333399) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-3399ff);
background: #333399 0% 0% no-repeat padding-box;
box-shadow: 0px 15px 35px #3399FF59;
border: 1px solid #3399FF;
border-radius: 24px;
color: white;
position: relative;
height: 100%;
}
.atman_six_monthly_biling_box::after {
    content: "";
    position: absolute;
    top: -13px;
    right: 44px;
    width: 30px;
    height: 30px;
    background-image: url('../app/img/accept_4315445.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.atman_six_monthly_biling_box h6{
    margin-bottom: 20px;
}
.atman_six_choose_plan_sec{
    padding: 70px 0px;
    background: transparent linear-gradient(91deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    color: white;
}
.choose_the_plan_box h1{
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 50px;
}
.atman_six_basic_plan_box{
    border: 1px solid var(--unnamed-color-3399ff);
background: transparent linear-gradient(180deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 15px 35px #3399FF59;
border: 1px solid #3399FF;
border-radius: 24px;
padding: 25px;
position: relative;
height: 100% !important;
}
.atman_six_basic_plan_box h3 {
    font-weight: 400;
    font-size: 29px;
    margin-bottom: 20px;
}
.atman_six_basic_plan_box h1 {
    color: #3399FF !important;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
}
.atman_six_basic_plan_box span{
    font-size: 12px;
    color: white !important;
}
.atman_six_basic_plan_box b{
   margin-bottom: 15px;
}
.basic_for_indivial_para{
    padding-bottom: 10px;
    position: relative;
}
.atman_six_basic_plan_box ul{
    position: relative;
}
.atman_six_basic_plan_box ul::after {
    content: "";
    display: block;
    width: 100%; /* Adjust as needed */
    height: 1px; /* Adjust as needed */
    background-image: url('../app/img/Line-1.svg'); /* Replace with your image URL */
    background-size: cover;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
}

.atman_six_basic_plan_box ul li{
    font-size: 14px;
    margin-bottom: 2px;
}
.get_btn {
    position: absolute;
    left: 30%;
    background: transparent linear-gradient(180deg, var(--unnamed-color-333399) 0%, var(--unnamed-color-3399ff) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 14px;
    padding: 8px 25px;
    font-size: 14px;
    color: white;
    bottom: -15px;

}

.ma-slider-new-frame-inner{
    display: flex;                      
    justify-content: space-between;
}
.ma-slider-new-frame-inner-two-left{
    width: 50%;
}
.ma-slider-new-frame-inner-two-right{
    width: 40%;
    margin-top: 5%;  
}
.cder-ca-slide .react-multiple-carousel__arrow--right{      
    bottom: 15%; 
    right: 10%;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
}
.cder-ca-slide .react-multiple-carousel__arrow--left{ 
    bottom: 15%; 
    right: 15%;
    left: auto;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
}
.most_btn {  
    position: absolute;
    right: 10%;
    background: transparent linear-gradient(180deg, var(--unnamed-color-333399) 0%, var(--unnamed-color-3399ff) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 17px;
    font-size: 14px;
    color: white;
    top: -15px;
}
.start_span{
    color: #3399FF !important;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 500;
}
.atmna_six_get_rady_sec{
    padding: 60px 0px;
    background: transparent linear-gradient(160deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    color: white;
}
.atmna_six_get_rady_box{
    text-align: center;
}
.atmna_six_get_rady_box h1{
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.atmna_six_get_rady_box span{
    color: #3399FF;
}
.atmna_six_get_rady_box p{
    text-align: center;
    margin-bottom: 40px;
}

.get_btn_ready {
    background: transparent linear-gradient(180deg, var(--unnamed-color-333399) 0%, var(--unnamed-color-3399ff) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 14px;
    padding: 8px 55px;
    font-size: 14px;
    color: white;
}


/* CSS 10 March 2025 */
.seven_use_cases_sec{
    padding: 60px 0px;
    padding-top: 120px;
    background: transparent linear-gradient(166deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    color: white;
}
.seven_use_cases_box{
    padding-left: 20px;
    padding-right: 50px;
}
.seven_use_cases_box h1{
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 45px;
}
.use_cases_seven_col{
    padding-top: 30px;
}
.seven_trainning_dev_sec{
    padding: 70px 0px;
    background: transparent linear-gradient(173deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    color: white;
    overflow: hidden;
    position: relative;
}
.seven_trainning_dev_sec::after {
    content: "";
    display: block;
    width: 62%;
    height: 50%;
    background-image: url('../app/img/Path-106.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 28%;
    right: 20px;
}

.seven_training_development_box h2{
    font-weight: 300;
    margin-bottom: 25px;
}

.seven_training_development_box p{
    margin-bottom: 35px;
}
.seven_personalized_trainning_box h6{
    color: #3399FF;
    margin-bottom: 20px;
    position: relative;
}
.seven_personalized_trainning_box{
    padding: 20px 50px;
}

.seven_personalized_trainning_box p{
    font-size: 13px;
}
.seven_personalized_trainning_box h6::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('../app/img/accept_4315445.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    top: 0px !important;
    left: -32px !important;
    position: absolute;
}
.marketing_and_customer_row{
    margin-top: 60px;
}
.seven_ready_to_transorm_sec{
    padding: 80px 0px;
    background-image: url('../app/img/future-visions-business-technology-concept.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.reday_to_transform_seven_box h1{
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 45px;
}

.reday_to_transform_seven_box span{
    font-size: 62px;
    color: #3399FF;
}

.reday_to_transform_seven_box p{
    margin-bottom: 25px;
}
.reday_to_transform_seven_box h6 {
    margin-bottom: 50px;
    font-weight: 900;
}
.rewust_btnnn {
    background: transparent linear-gradient(180deg, var(--unnamed-color-333399) 0%, var(--unnamed-color-3399ff) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 10px;
    padding: 8px 17px;
    font-size: 14px;
    color: white;
}
.eight_join_the_future_sec{
    padding: 120px 0px;
    background-image: url('../app/img/Group-43-2.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: white;
}
.eight_join_the_future_box h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 45px;
}
.eight_join_the_future_box span {
    color: #3399FF;
}

.eight_join_the_future_box p {
    padding-left: 45px;
}
.eight_carrer_sec {
    padding: 80px 0px;
    background: transparent linear-gradient(166deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
    color: white;
    position: relative;
    padding-bottom: 40px;
}
.atman_eight_carrer_box {
    padding: 20px;
}
.atman_eight_carrer_box h6{
    position: relative;
    margin-bottom: 40px;
}
.atman_eight_carrer_box h6::before {
    content: "";
    position: absolute;
    display: block;
    width: 17%;
    height: 6px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    bottom: -43px;
}
.atman_caarr{
    margin-bottom: 40px;
}


.eight_carrer_sec::before, .eight_carrer_sec::after {
    content: "";
    position: absolute;
    top: 0;
    width: 4%;
    height: 55%;
    top: 20%;
}

.eight_carrer_sec::before {
    left: 0;
    background: #333399 0% 0% no-repeat padding-box;
    opacity: 0.56;
    filter: blur(50px);
}

.eight_carrer_sec::after {
    right: 0;
    background: #333399 0% 0% no-repeat padding-box;
    opacity: 0.56;
    filter: blur(50px);
}
.eight_form_outer_box{
    /* padding: 25px ; */
    background: transparent linear-gradient(180deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
border-radius: 20px;
}
.hsfc-Step .hsfc-Step__Content {
    width: 100%;
    box-sizing: border-box;
    padding: 25px !important;
}


/* CSS March 12 2025 */
.nine_cattact_us_sec{
    color: white;
    padding: 40px 0px;
    padding-top: 120px;
    background-image: url('../app/img/Group-43.svg');
}
.nine_contaxt_us_col{
    display: flex;
    align-items: center;
}
.nine_contaxt_us_box h1{
    font-size: 55px;
    font-weight: 400;
}
.nine_contaxt_us_box span{
    color: #3399FF;
}
.eight_carrer_sec a{
    color: white !important;
    text-decoration: none;
}
.atmn_connn p{
    width:50% !important; 
}
.nine_cont_atman{
    position: relative;
}
.nine_cont_atman::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 44%;
    height: 112%;
    background-image: url('../app/img/Path-107.png');
    background-size: cover;
    background-position: center;
}


@media all and (min-width:120px) and (max-width:620px){
    .nine_contaxt_us_box h1 {
        font-size: 42px;
        font-weight: 400;
    }
    .eight_carrer_sec{
        padding-top: 0px;
    }
    .explore_heading {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .explore_content{
        padding-left: 0px;
        width: 90%;
    }
    .blue_box_row {
        margin-top: 0px !important;    
    }
    .digital_heading {
        margin-left: 0px;
        font-size: 22px;
        margin-bottom: 30px;
    }
    .blue_box_row {
        margin-top: 0px;
        padding-bottom: 25px;
    }
    .blue_box {
        padding: 10px;
    }
    .work_text_col{
        text-align: center;
    }
    .Meet-Your-AI-Powered iframe{
        width: 100%;
    }
    .Try-Our-Digital-Humans-main-section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .humax_box img {
        width: 55% !important;
        height: auto !important;
        margin: 0 auto;
        display: table;
    }
    .why_choose_head2{
        font-size: 32px;
    }
    .why_choose_head{
        font-size: 32px;
    }
    .footer_input-main-frame .col-md-3{
        width: 100%;
        margin-top: 15px;
    }
    .footer-logo img{
        width: 70% !important;
    }
    .Customizable-to-Your-Needs-main-frame .col-md-3{
        width: 100%;
    }
    .why_choose_content_box {
        padding: 20px 0px;
    }
    .needs_heading2 br{
        display: none;
    }
    .needs_heading2{
        font-size: 17px;
    }
    .digital_partner_sec {
        padding: 30px 0px;
    }
    .digital_partner_row_1 {
        margin-bottom: 30px;
    }
    .try_box {
        padding-bottom: 30px;
    }
    .human_slider_box {
        padding-left: 0px;
    }
    .humax_box {
        margin: 10px 0px;
    }
    .why_sec {
        padding: 15px 0px;
    }
    .need_col{
        margin: 15px 0px;
    }
    .touch_box {
        margin-top: 15px;
    }
    .links-box {
        padding-left: 0px;
    }
    .footer {
        padding: 30px 0px;
        padding-bottom: 10px;
    }

.ma-slider-new-frame-inner {
    display: inline-block;
    width: 100%;
}
.ma-slider-new-frame-inner-two-left {
    width: 70%;
    margin: 0 auto;
}
.homes-slider-main{
    padding-top: 110px;
}
.logo-box img{
    width: 100%;
}
.ma-slider-new-frame-inner-two-right {
    width: 100%;
    margin-top: 3%;
}
.ma-slider-new-frame-inner-two-right h2 {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}
.ma-slider-new-frame-inner-two-right h2  br{
    display: none;
}


.ma-slider-new-frame-inner-two-right p {
    color: #fff;
    margin-top: 30px;
    padding-left: 0px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.cder-ca-slide  .react-multiple-carousel__arrow{
display: none;
}
.nav_col.desktop{
display: none;
}
.nav_col2.desktop{
    display: none;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.what_can_atman_box h1 {
    font-size: 36px;
    font-weight: 400;
}  
.hyper_personalized_box h1{
    font-size: 24px;
}
.hyper_personalized_box h1 br{
    display: none;
}
.hyper_personalized_box p {
    padding-right: 0px;
}
.train_digital_human_boxx h1{
    font-size: 26px;
    padding-top: 0px; 
}
.train_digital_human_boxx p {
    padding-left: 0px;
    color: white;
}
.what_you_train_box h1 {
    color: white;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 15px;
}
.how_it_four_work_box h1 {
    color: white;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.atman_four_right_arrow_img_box {
    display: none;
}
.atman_four_why_train_box h1{
    font-size: 32px;
}
.train_todaY_tomorrow_box h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}
.train_todaY_tomorrow_box p {
    margin-bottom: 20px;
}
.atman_five_comany_box h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
.meent_minds_box_atmna h1{
    font-size: 30px;
}
.amtan_five_misson_box .col-md-5{

}
.meent_minds_box_atmna h1 br{
    display: none;
}
.amtan_five_misson_box .col-md-5 {
    width: 100%;
}
.amtan_five_misson_box  .col-md-7{
    width: 100%;
}
.mission_img_box img {
    height: auto;
    width: 35%;
}
.mission_text_box h3 br{
    display: none;
}
.amtan_five_misson_box {
    padding: 30px 30px;
}
.atman_five_mission_vision_sec .col-md-6{
    margin-bottom: 20px;
}
.atman_five_mission_vision_sec {
    padding: 30px 0px;

}
.what_set_atman_aprt_box h1 {
    font-size: 32px;
}
.what_set_atman_aprt_box h1 br{
    display: none;
}
.what_set_atman_aprt_sec {
    padding: 40px 0px;
}
.social_link img {
    width: 22px;
}
.flexiblr_plan_box h1 {
    font-size: 34px; 
    margin-bottom: 30px;
}
.atman_six_flexible_plan_sec{
    padding-top: 30px; 
    padding-bottom: 30px;
}
.flexiblr_plan_box p {
    padding-left: 0px;
}
.atman_six_whatYou_box h1 {
    font-size: 30px;
    color: white;
    font-weight: 400;
    margin-bottom: 0px;
}
.atman_six_scaleble_solution_box img {
    width: 60px;
    margin-bottom: 25px;
    height: auto;
}
.atman_six_how_it_work_box h1{
    font-size: 34px; 
}
.atman_six_monthly_biling_box-main-all .col-md-4{
    margin-bottom: 30px;
}
.atman_six_how_it_work_sec{
    padding-bottom: 20px;
}
.choose_the_plan_box h1 {
    font-size: 30px;
    margin-bottom: 50px;
}
.atman_six_choose_plan_sec {
    padding: 40px 0px;
}
.atman_six_choose_plan_sec .col-md-4{
margin-bottom: 40px;
}
.atmna_six_get_rady_box h1 {
    font-size: 28px;
}
.three_about_sec{
    padding-top: 120px;
    padding-bottom: 35px;

}
.three_abot_atman_box p{
    padding-right: 0px;
    
}
.what_set_box h1 {
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.what_set_box h1 br{
    display: none;
}
.pioneeringbox {
    margin-top: 4%;
}
.pioneeringbox p {
    color: white;
    font-size: 14px;
    padding-right: 0px;
}  
.seven_use_cases_box h1 {
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 32px;
}
.seven_use_cases_sec{
    padding-top: 70px;
}
.seven_trainning_dev_sec{
   padding-bottom: 30px; 
}
.reday_to_transform_seven_box h1 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}
.reday_to_transform_seven_box span{
    font-size: 35px;
}
.seven_ready_to_transorm_sec{
    background-size: cover;
}
.eight_join_the_future_box h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
.eight_join_the_future_box p {
    padding-left: 0px;
}
.eight_join_the_future_sec{
    background-size: cover;
    color: white;
    padding-bottom: 55px;
    padding-top: 90px;
}


.header-menu-mobile{
    display: block !important;
}
.header-menu-mobile.col-md-8{
width: 50%;
}
.dropdown.mobilemenu-new{
    margin-top: -15px;
}
 .accordion__item a{
    color: #000;
    text-decoration: none;
}
.atman_founder_box {
    color: white;
    width: 100%;
}
.digital_sec {
    padding-top: 0px;
}
.three_about_sec{
    background-size: cover;
}
.what_set_atman_sec{
    padding-top: 0px; 
}
  }
 

/*menu */  
.bm-menu-wrap {
    background: #08313aad;
    left: 0;
    top: 0;
    width: 100%!important;
    z-index: 99999999 !important;
}
.bm-menu-wrap .bm-menu {
    background: #fff;
    width: 75%!important;
    position: relative;
}
.mobilemenu-new .accordion__button{
    background-color: #fff;
    position: relative;
}
.bm-menu-wrap .bm-cross-button {
    height: 100%!important;
    width: 15%!important;
}
.bm-cross {
    background: #fff;
}

.dropdown.mobilemenu-new .accordion__button:before {
    content: inherit;
}
.bm-overlay {
    background: transparent!important;
    right: 0;
    width: 0!important;
}
.bm-burger-button {
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 36px;
}
.bm-burger-bars {
    background-color: #fff!important;
    border-radius: 1px;
    display: block;
    height: 3px!important;
    margin-bottom: 5px;
    opacity: 1!important;
    position: relative!important;
    top: 0!important;
    width: 28px;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(1) .accordion__button::after {
    content: inherit;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(4) .accordion__button::after {
  content: inherit;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(7) .accordion__button::after {
    content: inherit;
}   
.dropdown.mobilemenu-new .accordion__item:nth-child(8) .accordion__button::after {
    content: inherit;
}
.dropdown.mobilemenu-new .Menu-underLink li a {
    color: #eb5e26!important;
    display: inline-block;
    padding: 8px 0;
}
.dropdown.mobilemenu-new .Menu-underLink li{
    list-style-type: none;
}
.img-responsive_all{width: 100%;}
.col-md-12.mobile {
display: inherit;
}
.logo img {
width: 120px;
}
.Mobile_menu{display: initial;float: right;
}
.row.desktop{display: none;}
.Mobile_menu .icon-bar {
background-color: #888;
display: block;
width: 22px;
height: 2px;
border-radius: 1px;

}
.Mobile_menu .icon-bar+.icon-bar {
margin-top: 4px;
}
.Mobile_menu .button{
background-color: #ddd;
padding: 9px 10px;
width: 42px;
float: right;
}

.Mobile_menu .dropdown{    position: relative;}
.Mobile_menu .button ~ ul{    position: absolute;
left: 0px;
top: 0px;
z-index: 99999;
background: #fff;
width: 100%;
padding: 5px 20px;
border-top: 1px solid #ccc;
margin-top:0px;}

.Mobile_menu .button ~ ul li{    list-style-type: none;}
.Mobile_menu .button ~ ul li a{  
text-decoration: none !important;
font-size: 17px; 
line-height: 28px;
font-family: 'Raleway', sans-serif;
border-bottom: 1px solid #ccccccb8;
color: #000;
padding-top: 5px;
padding-bottom: 5px;
position: relative;
display: block;
}

.react-tabs__tab{
font-size: 15px;
padding: 10px 4px;
width: 50%;
text-align: center;
}
.header-menu-mobile{
    display: none;
}
  /*menu end */



