/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.js","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/55c55f0601d81cf3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/26a46d62cd723877-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/97e0cb1ae144a2a9-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/581909926a08bbc8-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/6d93bde91c0c2823-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/a34f9d1faa5f3315-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Inter Fallback';src: local("Arial");ascent-override: 90.44%;descent-override: 22.52%;line-gap-override: 0.00%;size-adjust: 107.12%
}.__className_d65c78 {font-family: 'Inter', 'Inter Fallback';font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@font-face { 
    font-family: PlusJakartaSans-Regular;   
    src: url(/_next/static/media/PlusJakartaSans-Regular.6dd88b03.ttf) format('truetype');
}
  @font-face { 
    font-family: PlusJakartaSans-Bold; 
    src: url(/_next/static/media/PlusJakartaSans-Bold.7abcc5b1.ttf) format('truetype');   
}

body{
    font-family: PlusJakartaSans-Regular;   
}
p{
    font-family: PlusJakartaSans-Regular;   
}
.links-box ul{
    padding-left: 0px;
}
.header-row-cent{
    align-items: center;
}
.Request-a-Demo{
    width: auto !important; 
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 14px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
   }
.header {
  background: black;
  padding: 10px;
}
.nav-link {
  color: white !important;
  text-decoration: none;
  font-size:14px;
  background: black;
  border: 1px solid #333399;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 0px 10px;
}
.navbar-nav li a{
    border: 1px solid #333399;
    font-size: 14px;
    padding: 6px 68px;
    /* width: 100px; */
    text-align: center;
}
.nav {
  justify-content: center;
  align-items: center;
}
.login-link {
  color: #3399ff !important;
  text-decoration: none;
  font-size:14px;
  margin: 0px 10px;
  padding: 10px;
}
.request_btn {
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 14px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    width: 110px !important;
}
.nav_col {
  display: flex;
  justify-content: end;
}
.nav_col2 {
  display: flex;
  align-items: center;
}
.explore_sec {
  background: black;
  padding: 30px 0px;
}
.explore_heading {
  color: white;
  font-weight: 400;
}
.ai_text{
    color: #3399ff;
}
.explore_content{
    color: white;
    font-size: 14px;
    padding-left: 80px;
    width: 90%;
}

.explore_second_col{
    align-items: end;
    display: flex;
}
.digital_sec{
    background-color: black;
    padding: 30px 0px;
}
.digital_heading {
    color: #3399ff;
    font-weight: 400;
    margin-bottom: 150px;
    margin-left: 70px;
}
.blue_box{
    background: #33339933;
    padding: 30px;
    border: 1px solid #3399ff;
    border-radius: 10px;
}
.work_heading{
    font-size: 18px;
    color: #3399ff;
    font-weight: 400;
    /* text-align: center; */
}
.work_content{
    color: white;
    font-size:14px;
}
.work_text_col{
    padding: 0px 54px;
}
.blue_box_row{
    margin-top: -160px !important;
}
.learn_more_btn {
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box; border: 0px;
    border-radius: 14px;
    color: white;
    font-size: 14px;
    padding: 10px 20px; 
    margin-top: 15px;
} 
.digital_partner_row_1{
    margin-top: 30px !important;    
}
.Meet-Your-AI-Powered iframe{
    border: 2px solid #3399FF;
    border-radius: 10px;
    width: 90%;
}
.button_col{
    display:flex;
    justify-content: center;
}
.digital_partner_sec{
    padding: 60px 0px;
    background: transparent linear-gradient(175deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;
}
.ai_powered_headeing{
    color: white;
    font-weight: 400;
}
.ai_powered_headeing2{
    color: #3399FF;
    font-weight: 400;
    margin-bottom: 20px;
}
.ai_powered_text{
    color:white;
    font-size:14px
}
.digital_partner_col_2{
    display:flex;
    align-items: center;
}
.digital_human_sec{
    padding: 60px 0px;
    background: transparent linear-gradient(175deg, #000000 0%, #161649 100%) 0% 0% no-repeat padding-box;

}
.try_box {
    position: relative;
}

.Try-Our-Digital-Humans-main-section{
    margin-top: 80px;
    margin-bottom: 40px;
}
.digital_partner_row_1{
    margin-bottom: 50px;
}
.try_box h4{
    color: #3399FF;
    font-weight:400;
    margin-bottom: 15px;
}
.try_box p{
    color: white;
    font-size:14px;
    margin-bottom: 20px;
}
.humax_box {
    padding: 20px;
    border: 1px solid #3399ff;
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 50px #3399FF66;
    border: 1px solid #3399FF;
    border-radius: 17px;
    padding-bottom: 0px;
}
.human_slider_box{
    padding-left: 40px;
}
.human_name {
    color: white;
    text-align: center;
    font-size: 14px;
}
.why_sec {
    padding: 80px 0px;
    background-image: url(/_next/static/media/AI-Banner.2c8d5986.png);    
    background-repeat: no-repeat;
    background-position: center;
}
.why_choose_head{
    color: #3399ff;
    font-weight: 300;
    font-size: 43px;
}
.why_choose_head2{
    color: white;
    font-weight: 300;
    font-size: 43px;
}
.sleep_sec{
    color: #3399ff;
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
}
.why_choose_content_box{
    padding: 20px 40px;
}
.Customizable-to-Your-Needs-main-frame{
    margin-top: 35px;
}
.sleep_paragraph{
    color: #E3E1EB;
    font-size:14px;
    margin-top: 30px;
}
.needs_heading {
    color: white;
    font-size: 18px;
}
.humax_box img{
    width: 100% !important;
    height: auto !important;
}
.needs_heading2 {
    color: white;
    font-size: 18px;
    position:relative;
}
.needs_heading2::after {
    content: "";
    display: block;
    width: 41%;
    height: 6px;
    background: transparent linear-gradient(90deg, #333399 0%, #3399FF 100%) 0% 0% no-repeat padding-box;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.need_para{
    color: white;
    font-size:14px;
}
.footer{
    padding: 60px 0px;
    background: black;
    padding-bottom: 30px;
}
.footer_logo{
    margin-bottom: 40px;
}
.footer_input{
    width: 100%;
    border-radius: 50px;
    background: #3333994D;
    border: 1px solid #3399FF;
    padding: 5px 16px;
    color: white;
}
.footer_logo{
    margin-bottom: 60px;
}
.links-box{
    padding-left: 251px;
}
.quick_head{
    color: #3399ff;
    font-weight: 200;
    margin-bottom:14px;
    font-size: 18px;
}
.touch_box ul{
    padding-left: 0px;
    margin-top: 15px !important;
}
.social_link img{
    width: 28px; 
}
ul{
    list-style-type: none;
    padding: 0;
}
.foot-links{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.foot-item{
    padding: 7px 0px;
}
.touch_text{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}
.touch_box{
    margin-top: 60px;
}
.social_link{
    margin-right:15px;
}
.copyright {
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
}
.atnam{
    color: #3399ff;
}




@media only screen and (max-width: 600px) {
    .explore_heading {
        margin-bottom: 20px;
    }
    .digital_heading {
        margin-left: 0px;
        font-size: 22px;
        margin-bottom: 30px;
    }
    .blue_box_row {
        margin-top: 0px;
        padding-bottom: 25px;
    }
    .blue_box {
        padding: 0px;
    }
    .digital_partner_sec {
        padding: 30px 0px;
    }
    .digital_partner_row_1 {
        margin-bottom: 30px;
    }
    .try_box {
        padding-bottom: 30px;
    }
    .human_slider_box {
        padding-left: 0px;
    }
    .humax_box {
        margin: 10px 0px;
       
    }
    .why_sec {
        padding: 15px 0px;
    }
    .need_col{
        margin: 15px 0px;
    }
    .touch_box {
        margin-top: 15px;
    }
    .links-box {
        padding-left: 0px;
    }
    .footer {
        padding: 30px 0px;
        padding-bottom: 10px;
    }





  }







